# Gradle
bin/
out/
target/
# Compiled

application-prod.properties
application-dev.properties
application-local.properties
# Application

*.log
logs/
# Logs

Thumbs.db
.DS_Store
# OS

.project
.classpath
.settings/
.vscode/
*.iws
*.ipr
*.iml
.idea/
# IDE

!**/src/test/**/build/
!**/src/main/**/build/
!gradle/wrapper/gradle-wrapper.jar
build/
.gradle/

